.header {
    padding: 16px 0;

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &_logo {
        @include adaptive-value("width", 156, 81, 1);
        @include adaptive-value("height", 73, 43, 1);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &_buttons {
        display: flex;
        align-items: center;
        @include adaptive-value("column-gap", 20, 12, 1);
    }

    &_button {
        &-text {
            @include media ("<xs-phone") {
                display: none;
            }
        }

        &-text-mobile {
            display: none;

            @include media ("<xs-phone") {
                display: block;
            }
        }
    }
}