<div class="popup confirm-popup">
    <div class="popup_content">
        <div class="popup_content-overlay">
            <div class="popup_content-inner">
                <button type="button" class="popup_close">
                    <img src="/images/close.svg" alt="close">
                </button>
                <div class="login-popup_logo">
                    <img src="/images/logo.png" alt="Loop" class="header_logo-img" width="156"
                        height="73">
                </div>
                <h2 class="popup_title">
                    Link sent
                </h2>
                <p class="popup_description confirm-popup_description">
                    Check your inbox — we’ve sent you a link to open your Loop dashboard.
                </p>
                <form action="" class="confirm-popup_form">
                    <span class="confirm-popup_link">
                        Didn't get it? Check spam or try again.
                    </span>
                    <button type="submit" class="popup_button button button-primary">
                        Resend Link
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>