<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <a href="/" class="header_logo">
                <img src="/images/logo.png" alt="Loop" class="header_logo-img" width="156"
                    height="73">
            </a>
            <div class="header_buttons">
                <button class="header_button header_button-join button button-secondary">
                    <span class="header_button-text">Join the waitlist</span>
                    <span class="header_button-text-mobile">Join</span>
                </button>
                <!-- <button class="header_button header_button-login button button-secondary">Login</button> -->
                <a href="/profile.html"
                    class="header_button button button-secondary">Login</a>
            </div>
            <div class="header_button-avatar-wrapper">
                <button type="button" class="header_button header_button-avatar">
                    <img src="./images/avatar.png" alt="avatar" width="56" height="56">
                </button>
                <button type="button" class="button button-secondary header_button-logout">
                    <img src="/images/logout.svg" alt="image not found" width="24" height="24">
                    <span class="header_button-text">Logout</span>
                </button>
            </div>
        </div>
    </div>
</header>