<div class="popup thanks-popup">
    <div class="popup_content">
        <div class="popup_content-overlay">
            <div class="popup_content-inner">
                <button type="button" class="popup_close">
                    <img src="/images/close.svg" alt="close">
                </button>
                <h2 class="popup_title">
                    Congrats — you’re in the Loop!
                </h2>
                <p class="popup_description">
                    Thank you for joining the waitlist! <br>
                    We’ll be in touch soon with updates as Loop gets closer.
                </p>
                <button class="popup_button button button-primary">
                    Got It
                </button>
            </div>
        </div>
    </div>
</div>