.button {
    display: inline-block;
    background-color: $purple-500;
    color: $white;
    font-weight: 600;

    @include adaptive-value("font-size", 18, 16, 1);
    padding: 16px 32px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: $animation-speed;

    line-height: calc(22 / 18);

    @include media ("<tablet") {
        padding: 12px 20px;
        border-radius: 4px;
    }

    &.button-primary {
        box-shadow: 0px 2px 8px 1px #00E0FF inset;
        position: relative;

        &:hover {
            &::before {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                transition: $animation-speed;
            }

            &:after {
                box-shadow: 0px 4px 20px 4px #FFFFFF40;
                transition: $animation-speed;
            }
        }

        &::before {
            content: url('/images/hover-pattern.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            pointer-events: none;
            transition: $animation-speed;
            opacity: 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            transition: $animation-speed;
        }
    }

    &.button-secondary {
        border-color: $purple-500;
        background-color: $black;
        box-shadow: 0px 1px 8px 0px #FF6B00;

        &:hover {
            background-color: $purple-700;
            transition: $animation-speed;
        }
    }

    &.button-third {
        border-color: $purple-500;
        background-color: $black;
        box-shadow: 0px 4px 12px 0px #FFFFFF40;


        &:hover {
            background-color: $purple-700;
            transition: $animation-speed;
        }
    }

    &:disabled {
        box-shadow: none;
        border-color: transparent;
        background-color: $purple-800;
        cursor: not-allowed;

        color: rgba($color: $purple-600, $alpha: 0.52);

        &::after,
        &::before {
            display: none;
        }
    }
}